// 変数
$main-color:#fff;
$sub-color: #000;
$text-size: 1rem;


// ================================
// メディアクエリ// ================================
@mixin pc-layout($width: 1001px) {
  @media screen and
  (min-width: $width) {
      @content;
  }
}
@mixin tab-layout($width: 540px) {
  @media screen and
  (min-width: $width) {
      @content;
  }
}
@mixin sp-layout($width: 480px) {
  @media screen and
  (max-width: $width) {
      @content;
  }
}



html, body {
  scroll-behavior: smooth;
  color: $main-color;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  -webkit-font-feature-settings: "palt";
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "palt";
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 12px;
  box-sizing: border-box;
}

*,h1,h2,h3,h4,h5,h6,p,ul,li{
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $sub-color;
}

@mixin three-line {
  content: "";
  right: 0;
  width: 30px;
  height: 3px;
  background-color: $main-color;
  position: absolute;
}
