@charset "UTF-8";
html, body {
  scroll-behavior: smooth;
  color: #333;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  -webkit-font-feature-settings: "palt";
  -webkit-text-size-adjust: 100%;
  font-feature-settings: "palt";
  font-family: 'Sawarabi Mincho', sans-serif;
  font-weight: 400;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

body {
  width: 100%;
  background-image: url("../image/S__117366799.jpg");
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-position: center; }

.info-header {
  background-color: rgba(228, 228, 228, 0.6);
  padding: 1rem 0; }
  .info-header__container {
    text-align: center; }
    .info-header__container h1 {
      font-size: 5vw; }

.header {
  background-color: rgba(228, 228, 228, 0.6);
  padding: 1rem 0; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .header__container h1 {
      font-size: 3.5rem; }
      @media screen and (max-width: 1000px) {
        .header__container h1 {
          font-size: 3rem; } }
    .header__container__hamburger span {
      content: "";
      top: 5%;
      right: 5%;
      content: "";
      width: 40px;
      height: 4px;
      background-color: #0097A7;
      position: fixed; }
      .header__container__hamburger span::before {
        content: "";
        top: 6%;
        right: 5%;
        content: "";
        width: 40px;
        height: 4px;
        background-color: #0097A7;
        position: fixed; }
      .header__container__hamburger span::after {
        content: "";
        top: 7%;
        right: 5%;
        content: "";
        width: 40px;
        height: 4px;
        background-color: #0097A7;
        position: fixed; }
    .header__container ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
      list-style: none; }
      .header__container ul li {
        font-size: 0.5vw; }
        .header__container ul li a {
          color: #000; }
        .header__container ul li a:hover {
          color: red;
          -webkit-transition: 0.4s;
          transition: 0.4s; }

.info-main {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 5rem; }
  @media screen and (min-width: 1001px) {
    .info-main {
      width: 1024px;
      margin: 3rem auto 5rem; } }
  .info-main__container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .info-main__container__title {
      margin-bottom: 1rem;
      font-size: 7vw; }
      @media screen and (min-width: 1001px) {
        .info-main__container__title {
          font-size: 5rem; } }
    .info-main__container__subTitle {
      font-size: 4vw;
      margin-bottom: 3rem; }
      @media screen and (min-width: 1001px) {
        .info-main__container__subTitle {
          font-size: 2rem; } }
    .info-main__container__form {
      text-align: center;
      width: 70%; }
      @media screen and (min-width: 1001px) {
        .info-main__container__form {
          width: 98%; } }
      .info-main__container__form li {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        @media screen and (min-width: 1001px) {
          .info-main__container__form li {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            margin-top: 2rem; } }
        .info-main__container__form li label {
          margin-top: 2rem; }
          @media screen and (min-width: 1001px) {
            .info-main__container__form li label {
              width: 35%;
              margin-top: 0;
              text-align: right; } }
        @media screen and (min-width: 1001px) {
          .info-main__container__form li input {
            width: 60%; } }
      .info-main__container__form .user-info {
        font-size: 6vw; }
        @media screen and (min-width: 1001px) {
          .info-main__container__form .user-info {
            font-size: 2rem; } }
      .info-main__container__form__button {
        letter-spacing: 3px;
        font-size: 4vw;
        width: 50%;
        margin-top: 3rem;
        padding: 0.5rem; }
        @media screen and (min-width: 1001px) {
          .info-main__container__form__button {
            font-size: 2rem;
            width: 30%; } }
    .info-main__container .error {
      color: red;
      font-size: 1vw;
      font-weight: bold; }
      @media screen and (max-width: 1000px) {
        .info-main__container .error {
          font-size: 2.8vw; } }
      @media screen and (min-width: 1001px) {
        .info-main__container .error {
          font-size: 1.5rem; } }

.index-main {
  width: 100%;
  height: 600px;
  margin-top: 5rem; }
  .index-main__search {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: block;
    width: 200px;
    height: 100px;
    text-align: center;
    margin: 5rem auto 3rem;
    font-size: 2rem;
    color: #fff;
    font-weight: lighter;
    line-height: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 150px; }
    .index-main__search:hover {
      background-color: rgba(0, 0, 0, 0.8);
      -webkit-transition: 0.2s;
      transition: 0.2s; }
  .index-main .select {
    margin: 6rem 0 3rem 12rem; }
    .index-main .select p {
      font-family: "MS Pゴシック";
      font-weight: bold;
      font-size: 3rem;
      color: blue; }
    .index-main .select__container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .index-main .select__container__box {
        width: 230px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-size: 2rem;
        font-weight: bold;
        margin-left: 10rem;
        line-height: 5rem; }
        .index-main .select__container__box input {
          width: 1.5rem;
          height: 1.5rem;
          margin-right: 1rem; }
  .index-main .next {
    position: relative;
    top: 30rem;
    left: 8rem;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 160px;
    height: 80px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer; }
  .index-main .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.2s;
    transition: 0.2s; }

footer {
  height: 70px;
  font-size: 4vw;
  color: gray;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1rem; }
  @media screen and (min-width: 1001px) {
    footer {
      font-size: 2rem; } }

/*# sourceMappingURL=style.css.map */