@import "base.scss";

.body {
  width: 100%;
  height: 100vh;
  background-image: url("../img 2/sp_bg.jpg");
  background-size: cover;
  background-blend-mode: lighten;
  background-repeat: no-repeat;
  background-position: center;
}
.special-body {
  background-color: rgb(10,184,183)!important;
}

// ================================
// classic-header.php
// ================================
.info-header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgb(7, 128, 128);
  padding: 1rem 0;
  &__container {
    text-align: center;
    h1 {
      letter-spacing: 0.5rem;
      font-size: 5vw;
    }
    .header-link {
      color: $main-color !important;
    }
  }
}
// ================================
// home-header.php
// ================================
.header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.8rem 0.8rem;
  background-color: rgb(7, 128, 128);
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1 {
      font-size: 5vw;
      letter-spacing: 0.5rem;
    }
    .header-link {
      color: $main-color !important;
    }
    &__hamburger {
      border: none;
      position: fixed;
      width: 30px;
      height: 17px;
      right: 20px;
      top: 12px;
      cursor: pointer;
      background-color: rgb(7, 128, 128);
      span {
        top: 0px;
        @include three-line;
        &::before {
          top: 7px;
          @include three-line;
        }
        &::after {
          top: 14px;
          @include three-line;
        }
      }
    }
    ul {
      color: $sub-color;
      display: flex;
      flex-direction: column;
      text-align: center;
      list-style: none;
      .welcom {
        padding-top: 4rem;
      }
      :nth-child(5) {
        font-size: 1.5rem;
        margin-top: 10rem;
        padding-bottom: 2rem;
        color: red;
        cursor: pointer;
      }
      li {
        padding-top: 1rem;
        font-size: 0.5vw;
        a:hover {
          color: red;
          transition: 0.4s;
        }
      }
    }
    .hide {
      position: fixed;
      top: 0px;
      right: -200px;
    }
    .show {
      position: fixed;
      z-index: 10;
      top: 0px;
      right: 0px;
      width: 110px;
      height: 100%;
      background-color: rgb(255, 255, 255);
      box-shadow: 0 -2px 14px rgba(0, 0, 0, 0.3);
    }
  }
}

// ================================
// sigh_up/login.php
// ================================
.info-main {
  width: 100%;
  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    &__title {
      margin-bottom: 1rem;
      font-size: 7vw;
    }
    &__subTitle {
      font-size: 4vw;
    }
    &__form {
      text-align: center;
      width: 70%;
      li {
        list-style: none;
        display: flex;
        flex-direction: column;
        @include pc-layout() {
          flex-direction: row;
          margin-top: 1rem;
        }
        label {
          margin-top: 1rem;
          @include pc-layout() {
            width: 35%;
            margin-top: 0;
            text-align: right;
          }
        }
        input {
          @include pc-layout() {
            width: 60%;
          }
        }
      }
      .user-info {
        font-size: 6vw;
        @include pc-layout() {
          font-size: 2rem;
        }
      }
      &__button {
        letter-spacing: 3px;
        font-size: 4vw;
        width: 45%;
        margin-top: 1rem;
        padding: 0.5rem;
        @include pc-layout() {
          font-size: 2rem;
          width: 30%;
        }
      }
    }
    .error {
      color: red;
      font-size: 1vw;
      font-weight: bold;
      @include tab-layout() {
        font-size: 2.8vw;
      }
      @include pc-layout() {
        font-size: 1.5rem;
      }
    }
  }
}
// ================================
// index.php
// ================================
.index-main {
  width: 100%;
  position: fixed;
  top: 10%;
  text-align: center;
  &__trouble {
    margin-top: 2rem;
    padding: 0 1rem;
    &__title {
      font-size: 8vw;
    }
    &__explanation {
      margin-top: 4%;
      font-size: 3vw;
    }
    &__contents {
      margin-top: 10%;
      font-size: 4vw;

    }
  }
  &__search {
    margin: 2.5rem auto 0;
    width: 80%;
    &__induction {
      text-align: center;
    }
    &__button {
      user-select: none;
      display: block;
      height: 60px;
      text-align: center;
      margin: 0 auto;
      font-size: 1.6rem;
      font-weight: bold;
      color: $sub-color;
      line-height: 60px;
      background-color: rgb(252, 227, 0);
      border-radius: 150px;
      &:hover {
        background-color: rgba(255, 238, 0, 0.9);
        transition: 0.2s;
      }
    }
  }
}

// ================================
// select.php
// ================================
.select-main {
  color: $main-color;
  margin: 1rem;
  &__container {
    padding-top: 7rem;
    &__box {
      padding: 1rem;
      border: solid 5px $main-color;
      &__item {
        padding-bottom: 1rem;
        display: flex;
        text-align: right;
        &__title {
          width: 20%;
          padding-right: 1rem;
        }
        &__select {
          width: 70%;
        }
      }
    }
    &__next {
      margin: 2rem auto 0;
      display: block;
      user-select: none;
      height: 50px;
      width: 120px;
      text-align: center;
      font-size: 1.6rem;
      font-weight: bold;
      color: $sub-color;
      line-height: 50px;
      background-color: rgb(252, 227, 0);
      border-radius: 120px;
      border: none;
      &:hover {
        background-color: rgba(255, 238, 0, 0.9);
        transition: 0.2s;
      }
    }
  }
}

// ================================
// result.php
// ================================
.result-main {
  height: 100vh;
  margin-top: 6rem;
  text-align: center;
  h2 {
    margin: 0 20px;
    font-size: 2rem;
    border-bottom: 4px solid rgb(7, 128, 128);
  }
  .car-name {
    margin-top: 4rem;
    font-size: 1.3rem;
  }
  .car-price {
    margin-bottom: 1rem;
  }
  .slider {
    width: 80%;
    margin: 0 auto;
    .oneCar {
      width: 100%;
      ul {
        list-style: none;
      }
      img {
        width: 200px;
        margin: 0 auto;
      }
    }
    .slick-prev::before,
    .slick-next::before {
      color: black !important;
    }
  }
  .search {
    user-select: none;
    display: block;
    width: 80%;
    height: 40px;
    text-align: center;
    margin: 5rem auto 3rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: $sub-color;
    line-height: 40px;
    background-color: rgb(252, 227, 0);
    border-radius: 150px;
    &:hover {
      background-color: rgba(255, 238, 0, 0.9);
      transition: 0.2s;
    }
  }
  .provider {
    margin-bottom: 1rem;
  }
}


// ================================
// about.php
// ================================
.about-main {
  margin: 0 1rem;
  &__container {
    margin: 1rem;
    &__title {
      font-size: 2rem;
      padding-top: 6rem;
      padding-bottom: 2rem;
      text-align: center;
    }
    &__box {
      margin-bottom: 1rem;
      &__subTitle {
        font-size: 1.3rem;
      }
      &__text {
        list-style-position: inside;
      }
    }
  }
}

// ================================
// フッター
// ================================
footer {
  height: 70px;
  font-size: 4vw;
  color: rgb(128, 128, 128);
  font-weight: bold;
  text-align: center;
  letter-spacing: 1rem;
  @include pc-layout() {
    font-size: 2rem;
  }
}
